{% extends "base.html" %}

{% load wagtailimages_tags %}
{% load wagtailimages_tags wagtailroutablepage_tags %}

{% block content %}

<div class="container mt-5">
    <div class="text-center mb-5">
        <a href="{% routablepageurl page 'latest_posts' %}" class="btn btn-outline-primary">Ver las últimas publicaciones</a>
    </div>

    <div class="row">
        {% for post in posts %}
        <div class="col-md-6 col-lg-4 d-flex align-items-stretch">
            <div class="card mb-4">
                {% image post.blog_image fill-350x250 as blog_img %}
                <img class="card-img-top" src="{{ blog_img.url }}" alt="{{ blog_img.alt }}">
                <div class="card-body">
                    <a href="{{ post.url }}" class="text-dark" style="text-decoration: none;">
                        <h5 class="card-title">{{ post.custom_title }}</h5>
                    </a>
                    <!-- Aquí puedes agregar el resumen del post, una vez que hayas agregado ese campo -->
                    <a href="{{ post.url }}" class="btn btn-primary mt-2">Leer más</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{# Only show pagination if there is more than one page to click through #}
{% if posts.paginator.num_pages > 1 %}
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="pagination">
                    {% if posts.has_previous %}
                        <li class="page-item">
                            <a href="?page={{ posts.previous_page_number }}" class="page-link">
                                <span>&laquo;</span>
                            </a>
                        </li>
                    {% endif %}

                    {% for page_num in posts.paginator.page_range %}
                        <li class="page-item {% if page_num == posts.number %} active{% endif %}">
                            <a href="?page={{ page_num }}" class="page-link">
                                {{ page_num }}
                            </a>
                        </li>
                    {% endfor %}

                    {% if posts.has_next %}
                        <li class="page-item">
                            <a href="?page={{ posts.next_page_number }}" class="page-link">
                                <span>&raquo;</span>
                            </a>
                        </li>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endif %}

{% endblock content %}